version: '3.8'

services:
  # 1. Backend PHP
  backend:
    build: ./backend
    container_name: mnm_php_backend
    ports:
      - "3001:80"
    volumes:
      - ./backend:/var/www/html
    networks:
      - app-network

  # 2. Frontend HTML
  frontend:
    build: ./frontend
    container_name: mnm_php_frontend
    ports:
      - "8081:80"
    volumes:
      - ./frontend:/usr/share/nginx/html
    depends_on:
      - backend
    networks:
      - app-network

  # 3. Database MySQL (Mới thêm)
  db:
    image: mysql:5.7 # Dùng bản 5.7 cho ổn định, giống hosting
    container_name: mnm_mysql_db
    environment:
      MYSQL_ROOT_PASSWORD: root  # Mật khẩu root
      MYSQL_DATABASE: my_database # Tên database tự tạo
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - app-network

  # 4. phpMyAdmin (Giao diện quản lý DB - Mới thêm)
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: mnm_phpmyadmin
    links:
      - db
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
    ports:
      - "8082:80" # Truy cập tại localhost:8082
    networks:
      - app-network

# Tạo nơi lưu dữ liệu DB để không bị mất khi tắt Docker
volumes:
  db_data:

networks:
  app-network:
    driver: bridge